<h2>タスク一覧</h2>

<%= form_with url: root_path, method: :get, local: true do |f| %>
  <%= f.select :sort, options_for_select({作成日時降順: "create_desc", 終了期限昇順: "deadline_asc", 終了期限降順: "deadline_desc"},params[:sort]), include_blank: "作成日時昇順" %>

  <%= f.text_field :title, value: params[:title] %>
  
  <%= f.radio_button :status_id, "1", checked: params[:status_id] == "1" %>
  <%= f.label :status_id, "未着手", {value: 1} %>
  <%= f.radio_button :status_id, "2", checked: params[:status_id] == "2" %>
  <%= f.label :status_id, "着手中", {value: 2} %>
  <%= f.radio_button :status_id, "3", checked: params[:status_id] == "3" %>
  <%= f.label :status_id, "完了", {value: 3} %>
  
  <%= f.submit "検索" %>
<% end %>

<% @tasks.each do |task| %>
  <p><%= link_to task.title, task_path(task) %> : <%= task.status.name %></p>
<% end %>

<%= link_to "タスク作成", new_task_path %>
