<h2>タスク作成</h2>

<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @task, local: true do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>

  <%= f.label :content, "内容" %>
  <%= f.text_area :content %>

  <%= f.label :deadline, "終了期限" %>
  <%= f.date_select :deadline %>

  <%= f.label :status_id, "ステータス" %>
  <%= f.radio_button :status_id, "1" %>
  <%= f.label :status_id, "未着手", {value: 1} %>
  <%= f.radio_button :status_id, "2" %>
  <%= f.label :status_id, "着手中", {value: 2} %>
  <%= f.radio_button :status_id, "3" %>
  <%= f.label :status_id, "完了", {value: 3} %>

  <%= f.label :priority_id, "優先順位" %>
  <%= f.radio_button :priority_id, "1" %>
  <%= f.label :priority_id, "高", {value: 1} %>
  <%= f.radio_button :priority_id, "2" %>
  <%= f.label :priority_id, "中", {value: 2} %>
  <%= f.radio_button :priority_id, "3" %>
  <%= f.label :priority_id, "低", {value: 3} %>

  <%= f.submit "タスク作成" %>
<% end %>
