<div class="text-center">
  <h2 class="font-weight-bold">管理画面：ユーザー編集</h2>
</div>

<%= form_with model: [:admin, @user], local: true do |f| %>
  <% if @user.errors.include?(:base) %>
    <p class="text-center font-weight-bold text-danger"><%= @user.errors.full_messages_for(:base).first %>
  <% end %>
  <div class="d-flex justify-content-center">
    <div class="mb-3 col-6 btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-danger">
        <%= f.radio_button :admin_flag, true, checked: params[:admin_flag] == true %>
        <%= f.label :admin_flag, "管理者", {value: true} %>
      </label>
      <label class="btn btn-outline-primary">
        <%= f.radio_button :admin_flag, false, checked: params[:admin_flag] == false %>
        <%= f.label :admin_flag, "ユーザー", {value: false} %>
      </label>
    </div>
  </div>
  <% if @user.errors.include?(:name) %>
    <p class="text-center font-weight-bold text-danger"><%= @user.errors.full_messages_for(:name).first %>
  <% end %>
  <div class="row mb-3">
    <div class="col-3 text-center"><%= f.label :name, "ユーザー名" %></div>
    <div class="col-9"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <% if @user.errors.include?(:password) %>
    <p class="text-center font-weight-bold text-danger"><%= @user.errors.full_messages_for(:password).first %>
  <% end %>
  <div class="row mb-3">
    <div class="col-3 text-center"><%= f.label :password, "パスワード" %></div>
    <div class="col-9"><%= f.password_field :password, class: "form-control" %></div>
  </div>
  <% if @user.errors.include?(:password_confirmation) %>
    <p class="text-center font-weight-bold text-danger"><%= @user.errors.full_messages_for(:password_confirmation).first %>
  <% end %>
  <div class="row mb-3">
    <div class="col-3 text-center"><%= f.label :password_confirmation, "パスワード確認" %></div>
    <div class="col-9"><%= f.password_field :password_confrimation, class: "form-control" %></div>
  </div>
  <div class="d-flex justify-content-center">
    <%= f.submit "ユーザー登録情報更新", class: "ml-2 col-4 mr-2 btn btn-primary form-control" %>
    <%= link_to "ユーザー削除", [:admin, @user], method: :delete, data: { confirm: "ユーザー\"#{@user.name}\"を削除しますか？" }, class: "mr-2 col-4 ml-2 btn btn-danger form-control" %>
  </div>
<% end %>
