<nav class="navbar bg-danger">
  <% if current_user %>
    <h1><%= link_to "TaskTool", tasks_path, class: "text-white nav-link" %></h1>
    <div class="d-flex justify-content-right">
      <% if current_user.admin_flag == true %>
        <%= link_to "管理画面", admin_users_path, class: "text-white nav-link" %>
      <% end %>
      <%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "本当にログアウトしますか？" }, class: "text-white nav-link" %>
    </div>
  <% else %>
    <h1><%= link_to "TaskTool", root_path, class: "text-white nav-link" %></h1>
    <div class="d-flex justify-content-right">
      <%= link_to "ログイン", login_path, class: "text-white nav-link" %>
    </div>
  <% end %>
</nav>